* {margin: 0; padding: 0; box-sizing: border-box;}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 1.34;
    margin: 0;
    background-color: rgba(240, 240, 240, 0.836);}
.box1, .box2 {display: flex; justify-content: space-around; align-items: center;}
.box1 {margin: auto; width: 980px; height: 720px; padding-top: 70px; padding-bottom: 120px;}
h1 {font-size: 60px; color: rgb(255, 23, 93);}
.text1 {font-size: 28px;}
.container1 {margin-bottom: 150px; padding-right: 35px;}
.border {
    background-color: white;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 2px 2px 10px 1px rgba(196, 196, 196, 0.836);
    padding: 15px 0 28px;
    width: 400px;
    text-align: center;}
.space:not(.space:last-child) {padding-bottom: 15px;}
input {
    padding: 0.8em;
    height: 2.7em;
    width: 370px;
    font-size: 20px;
    border: 1px solid rgba(196, 196, 196, 0.836);
    border-radius: 7px;}
input:not(input[type="submit"]) {color: rgb(175, 175, 175);}
input[type="submit"] {
    background-color: rgb(255, 23, 93);
    color: white;
    border-color: white;
    font-weight: bold;}
a {font-size: 14px; text-decoration: none;}
a:hover {text-decoration: underline;}
.space hr {
    margin: 10px;
    padding: 0;
    width: 90%;
    margin-left: 50%;
    transform: translate(-50%); 
    border-color: white;
    border-bottom-style: none;}
button {
    padding: 15px;
    border: 1px solid rgba(196, 196, 196, 0.836);
    border-radius: 7px;
    background-color: rgb(76, 189, 24);
    color: white;
    border-color: white;
    font-weight: bold;
    font-size: 18px;}
input[type="submit"]:hover:not(.active) {background-color: rgb(240, 23, 93);}
button:hover:not(.active) {background-color: rgb(76, 169, 24);}
.text2 {margin-top: 28px; font-size: 14px; text-align: center;}
.text2 a {font-weight: bold; color: black;}
.box2 {padding-top: 20px; background-color: white; height: auto;}
.container3, .container4 {padding-top: 5px;}
.footer {width: 980px; color: rgb(128, 128, 128); display: flex; flex-direction: column;}
li, li a {color: rgb(128, 128, 128); padding-right: 10px; font-size: 12px;}
.footer hr, .footer div[class="Met"] {margin: 10px 0 8px; border-bottom-style: none;}
ul {
    display: flex;
    list-style: none;
    margin: auto;
    padding: auto;
    flex-flow: row wrap;}
@media(max-width: 600px) {
    .box1 { flex-direction: column; 
            text-align: center; 
            margin: 0 40px;
            padding:0 0 100px 0;
            width: auto;
        }
    .container1 {margin: auto; width: 400px; padding: 0;}
    .text1 {font-size: 24px;}
    h1 {font-size: 57px; padding: 10px 0; margin-top: 20px;}
    .container2 {margin-top: 40px;}
    .footer {margin: 0 40px; width: auto;}}
